**/.DS_Store
.idea/
.vs/
.vscode/
build/
build.em/
cmake-build-*/
prefix/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json
env.bat
env.ps1
cscope.*
Testing/
venv/
TODO.txt
_dec_*
js/
root/
